# GERAL / APP CONFIG
PORT=3001
NODE_ENV=development

# APP SETTINGS
UPLOAD_DIRECTORY=./uploads
IMPORT_QUEUE_NAME=import-data-queue
LOG_LEVEL=info

# AUTH (Static Login Fallback)
NEXTAUTH_SECRET=9261a8f94c483f8e5d36e7681146313b
NEXTAUTH_URL=http://localhost:3001

# Postgres (Docker Container Name)
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=import_data

# ---------------------------------------------------------
# CONFIGURAÇÃO LOCAL (Hot Reload / npm run dev)
# ---------------------------------------------------------
NEXT_PUBLIC_API_URL=http://localhost:3001
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/import_data?schema=public"
REDIS_HOST=localhost
REDIS_PORT=6379

# ---------------------------------------------------------
# CONFIGURAÇÃO DOCKER (docker-compose up)
# ---------------------------------------------------------
# NEXT_PUBLIC_API_URL=http://app:3001
# DATABASE_URL="postgresql://postgres:postgres@postgres:5432/import_data?schema=public"
# REDIS_HOST=redis
# REDIS_PORT=6379
